.app {
 
}

.headerSection {
  display: flex;
  flex-direction: column;
  background: url("../assets/hubble_background.jpg");
  background-size: cover;
  min-height: 700px;
}

.headerContainer {
  height: 50px;
  display: flex;
  margin: 30px 150px;
  justify-content: space-between;
}

.metamaskBtn {
  color: #fff;

  background-color: transparent;
  background-clip: padding-box;

  font-size: .875rem;
  font-weight: 700;
  line-height: 1rem;

  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right,#32c5ff,#b620e0 45.93%,#ffaa12 86.01%);

  cursor: pointer;
}

.descriptionContainer {
  height: 300px;
  margin: 20px 150px;
  display: flex;
  text-align: right;
}

.description {
  color: #fff;
  padding: 80px 0 0 650px;

  font-size: 2.875rem;
  font-weight: 700;
  line-height: 4rem;
}

.contentSection {
  min-height: 500px;

  padding: 20px 150px;

  display: flex;
  justify-content: space-between;
}

.contentBasic {
  padding-right: 250px;
}

.contentBasic h2 {
  font-size: 2.175rem;
}

.contentBasic p {
  margin-top: 20px;

  font-size: 1.2rem;
  font-weight: 500;
}

.mainImage {
  width: 400px;
  object-fit: cover;

  position: relative;
  top: -200px;
}